#left_side_part_main{
    background-color: rgb(52, 50, 49) ;
    height:91vh
}

.white_text{
    color: white;
}

#main_right_side{
    background-color: rgb(65, 62, 62);
}
hr{
    color:aliceblue
}
#home_button{
    border-radius: 20px;
    /* padding: 1px 30px; */
    height: 40px;
    margin-top: 55vh;
    
    
}


.width_50{
    width: 50% !important;
}